In [52]:
#import dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json

### Bring in first dataset - student academic term data

In [53]:
#import general student grade and course info
student_data = pd.read_csv('grade_data.csv')

In [54]:
#check data types
student_data.dtypes

Student ID                    object
Program                       object
Standing                       int64
Academic Term                 object
Transcript Term               object
Term GPA                     float64
Department                    object
Course                        object
Name                          object
Section                        int64
Start Date                    object
End Date                      object
Finalized                     object
Primary Faculty               object
Course Campus                 object
Status                        object
Status Date                   object
Enrollment Date               object
Delivery Method               object
Enrolled By                   object
Grade                        float64
Letter                        object
Grade Points                 float64
Quality Points               float64
Credits                        int64
Meetings                       int64
Present                        int64
Absent                         int64
Tardy                          int64
Excused                        int64
                              ...
% Attended                    object
Populi Course Offering ID      int64
Course Has Been Retaken       object
ACT score                      int64
Advisors                      object
Age                            int64
Citizenship                   object
Entrance Term                 object
Gender                        object
GPA                          float64
High School                   object
Home City                     object
Lead Source                   object
Street                        object
City                          object
State                         object
ZIP/Postal Code               object
Country                       object
Address type                  object
Private address               object
Programs                      object
IPEDS Race/Ethnicity          object
Hispanic or Latino            object
Race(s)                       object
Religion                       int64
SAT score                      int64
ZIP                            int64
LAT                          float64
LNG                          float64
Student_Term                   int64
Length: 61, dtype: object

In [55]:
student_data.head()

,Student ID,Program,Standing,Academic Term,Transcript Term,Term GPA,Department,Course,Name,Section,...,Programs,IPEDS Race/Ethnicity,Hispanic or Latino,Race(s),Religion,SAT score,ZIP,LAT,LNG,Student_Term
0,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Business Management,ECO 110,Microeconomics,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
1,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Integrated Core,INT 110,Critical Reasoning,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
2,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,General Education,WRI 100,College Composition I,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
3,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Other,Chapel,Chapel,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
4,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,General Education,MTH 100,College Algebra,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1

In [56]:
#select datapoints
new = student_data[['Student ID', "Grade Points", 'Term GPA','Course', 'Name', 'Age', '% Attended', \
                 'Gender','Hispanic or Latino', 'Race(s)', \
                 'Primary Faculty', 'ZIP', 'LAT', 'LNG']].copy()

In [57]:
new.sample(10)

,Student ID,Grade Points,Term GPA,Course,Name,Age,% Attended,Gender,Hispanic or Latino,Race(s),Primary Faculty,ZIP,LAT,LNG
2583,2017000087,2.3,0.00,ACC 230,Managerial Accounting,21,83.33%,MALE,No,White,Pete Boukouzis,91942,32.777999,-117.021511
7527,ZU5104464,4.0,3.33,GE 410,Senior Thesis,31,0%,FEMALE,0,White,0,92563,33.580016,-117.147360
515,2016000023,2.7,2.64,BUS 305,Business Law,20,80%,MALE,No,Black or African American,Donald Armento,92064,32.983606,-117.019035
4456,BE9871850,3.3,3.18,CI 175,Core: Foundations of College Writing,25,0%,MALE,0,White,Kay Harkins,0,0.000000,0.000000
2702,2017000095,0.0,0.00,MGT 100,Foundations of Management,24,23.08%,MALE,No,White,Alyssa Ramos,92647,33.723228,-118.008692
4259,AR7969044,4.0,2.44,Chapel,Chapel,21,80%,MALE,Yes,0,0,92124,32.823766,-117.092378
3588,2018000077,0.0,0.00,ART 400,Special Topics in Studio Art or Art History,22,50%,FEMALE,Yes,White,Patrick Gilbert,92126,32.908449,-117.141380
800,2016000036,3.0,2.53,FRS 100,Freshman Seminar,20,100%,FEMALE,Yes,White,Breann Williams,85364,32.702260,-114.658013
6069,LI9974867,0.0,0.00,SKCF,Saint Katherine College Forum Lectures,26,0%,MALE,0,0,John Strickland,89141,35.988424,-115.207059
7161,TA5288971,0.7,0.62,NS 100 BI,Introductory Biology &amp; LAB,24,76.47%,MALE,0,White,Geoff Bray,96707,21.363106,-158.082206

In [58]:
#rename columns
new.rename(columns={'% Attended': 'Attendance', 'Term GPA': 'Term_GPA', "Grade Points": 'Grade', 'Student ID': 'ID', 'Hispanic or Latino' : 'Latino', 'Race(s)' : 'Race', 'Primary Faculty': 'Professor'}, inplace=True)
new.head(25)

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.141380
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.141380
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.141380
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.141380
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.141380
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380
6,18000007,3.7,2.25,MGT 315,Organizational Behavior,23,59.18%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
7,18000007,3.3,2.25,THE 100,Orthodox Christianity,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380
8,18000007,0.0,2.25,WRI 105,College Composition II,23,40%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Tricia Woodward,92126,32.908449,-117.141380
9,18000007,2.0,2.25,MGT 320,HR and Talent Management,23,63.27%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
10,18000007,0.0,0.00,CHE 100,Natural World: Chemistry,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Gor Sarkisyan,92126,32.908449,-117.141380
11,18000007,0.0,0.00,MGT 270,Management Information Systems,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
12,18000007,4.0,0.00,Chapel,Chapel,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380
13,18000007,1.7,0.00,INT 310,Modern European Thought &amp; Culture,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Evan Getz,92126,32.908449,-117.141380
14,18000007,4.0,0.00,THE 105,New Testament,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380
15,18000007,4.0,0.00,COM 315,Communication Theory,23,66.67%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
16,18000048,4.0,1.90,Chapel,Chapel,18,100%,FEMALE,Yes,Black or African American,John Reimann,90220,33.881510,-118.234451
17,18000048,1.3,1.90,INT 100,Interdisciplinary Liberal Arts,18,62.22%,FEMALE,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451
18,18000048,3.3,1.90,KIN 200,Introduction to Kinesiology,18,78.13%,FEMALE,Yes,Black or African American,Nick Szyndlar,90220,33.881510,-118.234451
19,18000048,1.0,1.90,THE 100,Orthodox Christianity,18,0%,FEMALE,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451
20,18000048,2.0,1.90,WRI 100,College Composition I,18,68.89%,FEMALE,Yes,Black or African American,Tricia Woodward,90220,33.881510,-118.234451
21,18000048,1.0,0.00,MTH 100,College Algebra,18,83.33%,FEMALE,Yes,Black or African American,Kelly DeGrassie,90220,33.881510,-118.234451
22,18000048,1.7,0.00,THE 105,New Testament,18,0%,FEMALE,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451
23,18000048,0.0,0.00,WRI 105,College Composition II,18,66.67%,FEMALE,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451
24,18000048,0.0,0.00,KIN 100,Fundamentals of Nutrition,18,50%,FEMALE,Yes,Black or African American,Jessica Rodriguez,90220,33.881510,-118.234451

In [59]:
# Change "Female" to 2 and Male to 1 in response columns
gender_df = new.replace({'MALE': 2, 'FEMALE': 3})
gender_df.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138

In [60]:
gender_df['Gender'].value_counts()

2          4567
3          2940
UNKNOWN      21
Name: Gender, dtype: int64

In [61]:
#drop unknown gender
gender_df.drop(gender_df.loc[new['Gender']=='UNKNOWN'].index, inplace=True)

In [62]:
gender_df['Gender'].value_counts()

2    4567
3    2940
Name: Gender, dtype: int64

In [63]:
new = gender_df
new.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138

In [64]:
#remove gaps in Professor ino
new.drop(new.loc[new['Professor']=='0'].index, inplace=True)
new.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.14138

In [65]:
professor_df = new

In [66]:
#keep professors who have taught 30 plus classes
professor_df.groupby(['Professor']).ID.count()[lambda x:x>=29]

Professor
Adriano Polonia         32
Aline Bitar             49
Alyson Klier            32
Alyssa Ramos            84
Andrew Nosal            71
Anna Radovic            30
Arkadiuz Mironko        30
Bari Berman             36
Bethany Getz           131
Breann Williams         61
Christos Korgan        114
Darijo Banjac           89
David Orozco            69
David Williams         202
Denise Canellos         41
Diana Sifford           53
Evan Getz              246
Eve Tibbs               73
Frank Papatheofanis    117
Gaelan Gilbert         359
Garrett Miller         364
Gary Hartenburg         49
Geoff Bray             332
Gor Sarkisyan           53
Helen Lee              108
Jason Galea            101
Jelena Gazivoda         37
Jessica Rodriguez      212
Jim Getman             170
John Dempsey            52
John Reimann           299
John Strickland        388
Josh Dexheimer          29
Josh Koeplin-Day        53
Josiah Trenham         148
Kathryn Belsey         107
Kathy Meck              87
Kay Harkins            133
Kelly DeGrassie         97
Megan Gilbert           37
Megan Jendian           92
Michael Massis          36
Michael Reedy           35
Mili Metz               49
Min Lee                 39
Nazo Zakkak             62
Nemanja Selezan         78
Nick Szyndlar          111
Pete Boukouzis          95
Peter Fellios           87
Radu Munteanu          252
Rebecca Coleman         33
Robert Fortuin         278
Ryan West               37
Thomas Smith           148
Tricia Woodward         53
Name: ID, dtype: int64

In [67]:
professor_df = professor_df.assign(id=(professor_df['Professor']).astype('category').cat.codes)
professor_df.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.14138,46

In [68]:
# new['id'] = new.groupby(['Professor']).ngroup()
# new

In [70]:
#assign numbers to names (privacy)
c =professor_df.Professor.astype('category')
df = dict(enumerate(c.cat.categories))
df

{0: 'Adriano Polonia',
 1: 'Alex McLellan',
 2: 'Aline Bitar',
 3: 'Alyson Klier',
 4: 'Alyssa Ramos',
 5: 'Andrej Grkovich',
 6: 'Andrew Nosal',
 7: 'Anna Radovic',
 8: 'Arkadiuz Mironko',
 9: 'Bari Berman',
 10: 'Bethany Getz',
 11: 'Brady Rice',
 12: 'Breann Williams',
 13: 'Calinic Berger',
 14: 'Carmen DiPadova',
 15: 'Christos Korgan',
 16: 'Dan Marino',
 17: 'Darijo Banjac',
 18: 'Darrell Dooyema',
 19: 'David Orozco',
 20: 'David Williams',
 21: 'Denise Canellos',
 22: 'Diana Sifford',
 23: 'Donald Armento',
 24: 'Elisabeth Kotzakidou-Pace',
 25: 'Evan Getz',
 26: 'Eve Tibbs',
 27: 'Frank Papatheofanis',
 28: 'Gaelan Gilbert',
 29: 'Garrett Miller',
 30: 'Gary Hartenburg',
 31: 'Geoff Bray',
 32: 'Goncalo Mendes',
 33: 'Gor Sarkisyan',
 34: 'Helen Lee',
 35: 'J Andrew Deane',
 36: 'Jamie Netherland',
 37: 'Jason Galea',
 38: 'Jeanne Constantinou',
 39: 'Jelena Gazivoda',
 40: 'Jessica Rodriguez',
 41: 'Jim Getman',
 42: 'Jim Spencer',
 43: 'John Coroneus',
 44: 'John Dempsey',
 45: 'John Finley',
 46: 'John Reimann',
 47: 'John Strickland',
 48: 'John deGrassie',
 49: 'Joseph Moon',
 50: 'Josh Dexheimer',
 51: 'Josh Koeplin-Day',
 52: 'Josiah Trenham',
 53: 'Kaitlin Fisher',
 54: 'Kathryn Belsey',
 55: 'Kathy Meck',
 56: 'Kay Harkins',
 57: 'Kelly DeGrassie',
 58: 'Lacey Burns',
 59: 'Leonard Wissner',
 60: 'Lusine Abgaryan',
 61: 'Marisa Poulos',
 62: 'Mark Harrison',
 63: 'Mark Williams',
 64: 'Megan Gilbert',
 65: 'Megan Jendian',
 66: 'Michael Massis',
 67: 'Michael Reedy',
 68: 'Michael Sitaras',
 69: 'Michael Wnek',
 70: 'Mili Metz',
 71: 'Min Lee',
 72: 'Nancy Gilbert',
 73: 'Natalia Volodina',
 74: 'Nate McGlone',
 75: 'Nazo Zakkak',
 76: 'Nemanja Selezan',
 77: 'Nick Szyndlar',
 78: 'Patrick Gilbert',
 79: 'Pete Boukouzis',
 80: 'Peter Fellios',
 81: 'Radu Munteanu',
 82: 'Rebecca Coleman',
 83: 'Robert Fortuin',
 84: 'Ryan West',
 85: 'Sarah Moody',
 86: 'Scott Cairns',
 87: 'Shawn Benson',
 88: 'Stephen Tibbs',
 89: 'Thomas Smith',
 90: 'Tricia Woodward',
 91: 'Vladimir Morosan'}

In [72]:
df.to_csv(r'professor_key.csv')

AttributeError: 'dict' object has no attribute 'to_csv'

In [26]:
teacher_number=df.stack().value_counts().to_dict()

AttributeError: 'dict' object has no attribute 'stack'

In [28]:
diversity = professor_df

In [29]:
diversity['Latino'].value_counts()

0      2801
No     2164
Yes    1674
Name: Latino, dtype: int64

In [30]:
diversity.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.14138,46

In [31]:

diversity.drop(diversity.loc[diversity['Latino']=='0'].index, inplace=True)
diversity

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.141380,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.141380,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.141380,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.141380,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380,46
6,18000007,3.7,2.25,MGT 315,Organizational Behavior,23,59.18%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380,41
7,18000007,3.3,2.25,THE 100,Orthodox Christianity,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380,83
8,18000007,0.0,2.25,WRI 105,College Composition II,23,40%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Tricia Woodward,92126,32.908449,-117.141380,90
9,18000007,2.0,2.25,MGT 320,HR and Talent Management,23,63.27%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380,41
10,18000007,0.0,0.00,CHE 100,Natural World: Chemistry,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Gor Sarkisyan,92126,32.908449,-117.141380,33
11,18000007,0.0,0.00,MGT 270,Management Information Systems,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380,41
12,18000007,4.0,0.00,Chapel,Chapel,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380,46
13,18000007,1.7,0.00,INT 310,Modern European Thought &amp; Culture,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Evan Getz,92126,32.908449,-117.141380,25
14,18000007,4.0,0.00,THE 105,New Testament,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380,83
15,18000007,4.0,0.00,COM 315,Communication Theory,23,66.67%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380,41
16,18000048,4.0,1.90,Chapel,Chapel,18,100%,3,Yes,Black or African American,John Reimann,90220,33.881510,-118.234451,46
17,18000048,1.3,1.90,INT 100,Interdisciplinary Liberal Arts,18,62.22%,3,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451,25
18,18000048,3.3,1.90,KIN 200,Introduction to Kinesiology,18,78.13%,3,Yes,Black or African American,Nick Szyndlar,90220,33.881510,-118.234451,77
19,18000048,1.0,1.90,THE 100,Orthodox Christianity,18,0%,3,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451,83
20,18000048,2.0,1.90,WRI 100,College Composition I,18,68.89%,3,Yes,Black or African American,Tricia Woodward,90220,33.881510,-118.234451,90
21,18000048,1.0,0.00,MTH 100,College Algebra,18,83.33%,3,Yes,Black or African American,Kelly DeGrassie,90220,33.881510,-118.234451,57
22,18000048,1.7,0.00,THE 105,New Testament,18,0%,3,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451,83
23,18000048,0.0,0.00,WRI 105,College Composition II,18,66.67%,3,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451,25
24,18000048,0.0,0.00,KIN 100,Fundamentals of Nutrition,18,50%,3,Yes,Black or African American,Jessica Rodriguez,90220,33.881510,-118.234451,40
25,2016000002,3.3,2.78,FRS 100,Freshman Seminar,20,100%,2,No,White,Breann Williams,92065,33.053006,-116.850651,12
26,2016000002,2.3,2.78,INT 100,Interdisciplinary Studies,20,94.12%,2,No,White,Gaelan Gilbert,92065,33.053006,-116.850651,28
27,2016000002,2.0,2.78,MGT 100,Foundations of Business,20,100%,2,No,White,Nemanja Selezan,92065,33.053006,-116.850651,76
29,2016000002,4.0,2.78,WRI 100,College Composition I,20,96.15%,2,No,White,Kathryn Belsey,92065,33.053006,-116.850651,54
31,2016000002,2.7,2.78,ECO 115,Principles of Macroeconomics,20,100%,2,No,White,Radu Munteanu,92065,33.053006,-116.850651,81
32,2016000002,2.3,3.25,ECO 110,Principles of Microeconomics,20,96.67%,2,No,White,Darijo Banjac,92065,33.053006,-116.850651,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7099,ST9272880,4.0,3.72,TH 100 A,Foundations of Orthodox Theology - A,26,0%,2,No,White,Eve Tibbs,92081,33.164374,-117.240270,26
7100,ST9272880,3.0,3.72,TH 320,Introduction to New Testament Greek,26,0%,2,No,White,Eve Tibbs,92081,33.164374,-117.240270,26
7101,ST9272880,4.0,3.72,PE 105,Ballroom and Swing Dance (Studio),26,0%,2,No,White,Alyson Klier,92081,33.164374,-117.240270,3
7102,ST9272880,4.0,3.72,SKCF,Saint Katherine College Forum Lectures,26,0%,2,No,White,Gary Hartenburg,92081,33.164374,-117.240270,30
7103,ST9272880,4.0,3.94,CI 210,Core: Introduction to Ethics,26,0%,2,No,White,Gaelan Gilbert,92081,33.164374,-117.240270,28
7104,ST9272880,4.0,3.88,BI 206,Introduction to Epidemiology,26,0%,2,No,White,J Andrew Deane,92081,33.164374,-117.240270,35
7106,ST9272880,4.0,3.88,CI 150B,"Core: Inquiry, Wisdom &amp; Writing - B",26,0%,2,No,White,Kay Harkins,92081,33.164374,-117.240270,56
7107,ST9272880,4.0,3.88,HP 305,Humanitarian Emergencis,26,0%,2,No,White,Frank Papatheofanis,92081,33.164374,-117.240270,27
7108,ST9272880,4.0,3.88,HP 310,Tropical Disease and Parasitology,26,0%,2,No,White,Frank Papatheofanis,92081,33.164374,-117.240270,27
7109,ST9272880,4.0,3.88,PE 105,Ballroom and Swing Dance (Studio),26,0%,2,No,White,Alyson Klier,92081,33.164374,-117.240270,3
7110,ST9272880,4.0,3.88,TH 100B,"Foundations of Orthodox Theology - B ""Light & ...",26,0%,2,No,White,Eve Tibbs,92081,33.164374,-117.240270,26
7112,ST9272880,4.0,3.94,CI 220,Core: The Ancient World Rise of Byzantium,26,0%,2,No,White,John Strickland,92081,33.164374,-117.240270,47
7113,ST9272880,4.0,3.94,CI 250A,Core: Writing with Sources,26,0%,2,No,White,Gaelan Gilbert,92081,33.164374,-117.240270,28
7114,ST9272880,4.0,3.94,MU 108,Saint Katherine Chorale,26,0%,2,No,White,Kathy Meck,92081,33.164374,-117.240270,55
7115,ST9272880,3.7,3.94,EC 307,International Monetary Policies,26,0%,2,No,White,Radu Munteanu,92081,33.164374,-117.240270,81
7116,ST9272880,4.0,3.94,HP 400-4,Senior Thesis Research - 4 units,26,0%,2,No,White,Frank Papatheofanis,92081,33.164374,-117.240270,27
7117,ST9272880,4.0,3.94,BI 320,Social Epidemiology,26,100%,2,No,White,J Andrew Deane,92081,33.164374,-117.240270,35
7118,ST9272880,4.0,3.94,PE 105,Ballroom and Swing Dance (Studio),26,0%,2,No,White,Alyson Klier,92081,33.164374,-117.240270,3
7119,ST9272880,4.0,3.94,SKCF,Saint Katherine College Forum Lectures,26,0%,2,No,White,John Strickland,92081,33.164374,-117.240270,47
7120,ST9272880,4.0,3.76,AH 205,Introduction to Dance,26,90.63%,2,No,White,Alyson Klier,92081,33.164374,-117.240270,3
7121,ST9272880,4.0,3.76,GE 120,Introduction to Biostatistics,26,90.91%,2,No,White,J Andrew Deane,92081,33.164374,-117.240270,35
7122,ST9272880,3.0,3.76,IC 320,The Person and Society,26,100%,2,No,White,Gaelan Gilbert,92081,33.164374,-117.240270,28
7123,ST9272880,4.0,3.76,BE 240 ME,Intro to Non-Profit Management,26,100%,2,No,White,Geoff Bray,92081,33.164374,-117.240270,31
7124,ST9272880,3.7,3.76,LA420HP-3,HP Senior Thesis (Honors) - 3 units,26,0%,2,No,White,Frank Papatheofanis,92081,33.164374,-117.240270,27
7125,ST9272880,4.0,3.76,PR 300 HP,HP Internship,26,0%,2,No,White,Frank Papatheofanis,92081,33.164374,-117.240270,27
7126,ST9272880,4.0,3.76,PR 390 TU,Tutoring,26,0%,2,No,White,Gaelan Gilbert,92081,33.164374,-117.240270,28
7127,ST9272880,4.0,3.76,AH 109 MU,Chorale,26,0%,2,No,White,Kathy Meck,92081,33.164374,-117.240270,55
7128,ST9272880,0.0,3.76,SKCF,Saint Katherine College Forum Lectures,26,0%,2,No,White,John Strickland,92081,33.164374,-117.240270,47
7129,ST9272880,3.7,3.85,PSY 490,Research Methods,26,100%,2,No,White,Christos Korgan,92081,33.164374,-117.240270,15
7130,ST9272880,4.0,3.85,PSY 355,Psychology of Personality,26,86.67%,2,No,White,Mili Metz,92081,33.164374,-117.240270,70

In [32]:
diversity['Race'].value_counts()

White                                                                          1766
0                                                                              1025
Black or African American                                                       464
Black or African American, White                                                113
Native Hawaiian or Other Pacific Islander                                        84
Asian, Native Hawaiian or Other Pacific Islander                                 68
American Indian or Alaska Native                                                 54
Asian, Native Hawaiian or Other Pacific Islander, White                          53
Asian                                                                            51
Native Hawaiian or Other Pacific Islander, White                                 50
American Indian or Alaska Native, Black or African American                      40
Asian, White                                                                     26
Asian, Black or African American, Native Hawaiian or Other Pacific Islander      21
American Indian or Alaska Native, Black or African American, White               12
Asian, Black or African American                                                 11
Name: Race, dtype: int64

In [33]:
# cleaned = diversity

In [34]:
cleaned = diversity.replace({'White': 1, 'Black or African American': 2, 'Asian': 3, 'Black or African American, White': 2,\
                   'American Indian or Alaska Native': 4, 'Native Hawaiian or Other Pacific Islander': 5,'Asian, Native Hawaiian or Other Pacific Islander': 5,\
                   'Asian, Native Hawaiian or Other Pacific Islander, White': 5, 'American Indian or Alaska Native, Black or African American ': 2, 'Asian, White': 3,\
                   'Asian, Black or African American, Native Hawaiian or Other Pacific Islander': 2, 'Native Hawaiian or Other Pacific Islander, White': 1, \
                   'American Indian or Alaska Native, Black or African American': 2, 'Asian, Black or African American, Native Hawaiian or Other Pacific Islander': 1, \
                   'American Indian or Alaska Native, Black or African American, White': 2, 'Asian, Black or African American': 1})
cleaned.sample(10)

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
1857,2017000029,1.3,2.13,INT 200,Classical Rhetoric,22,76%,3,No,2,Evan Getz,92027,33.131156,-116.976997,25
352,2016000016,1.3,2.22,ASL 100,American Sign Language I,21,95.83%,3,No,2,Rebecca Coleman,80018,39.688002,-104.689740,82
3636,2018000083,2.3,3.32,MTH 100,College Algebra,18,96.67%,2,No,1,Kelly DeGrassie,92677,33.528868,-117.701175,57
1504,2016000073,0.0,0.00,ACC 230,Managerial Accounting,24,100%,2,No,1,Pete Boukouzis,92054,33.195534,-117.354538,79
1056,2016000051,3.3,2.75,BUS 310,Leadership and Business Ethics,26,100%,2,Yes,1,John Dempsey,92544,33.648169,-116.895308,44
4058,AG7508183,3.3,3.18,CI 110,Core: Critical Reasoning,27,0%,2,Yes,0,Garrett Miller,91950,32.670646,-117.094668,29
2969,2018000009,4.0,4.00,MTH 090,Intermediate Algebra,18,98.04%,3,Yes,0,Helen Lee,0,0.000000,0.000000,34
937,2016000044,4.0,4.00,MTH 105,Introduction to Statistics,20,100%,3,No,5,Christos Korgan,92003,33.285274,-117.197777,15
2468,2017000081,1.7,1.69,INT 100,Interdisciplinary Studies,20,84.62%,3,Yes,4,Gaelan Gilbert,92544,33.648169,-116.895308,28
496,2016000023,3.3,3.60,ART 100,Intro to Studio Art &amp; Art History,20,100%,2,No,2,Jelena Gazivoda,92064,32.983606,-117.019035,39

In [35]:
cleaned['Race'].value_counts()

1    1848
0    1025
2     629
5     205
3      77
4      54
Name: Race, dtype: int64

In [36]:
cleaned.dtypes

ID             object
Grade         float64
Term_GPA      float64
Course         object
Name           object
Age             int64
Attendance     object
Gender          int64
Latino         object
Race           object
Professor      object
ZIP             int64
LAT           float64
LNG           float64
id               int8
dtype: object

In [37]:
import json
import pprint
#create a dictionary of our data so far
studentJson=cleaned.stack().value_counts().to_dict()

In [74]:
#save as new csv file
cleaned.to_csv('student_academic.csv')

In [75]:
len(cleaned)

3838

#### Clean financial data

In [96]:
#import grant and loan info
student_financial = pd.read_csv('Financial.csv')
student_financial.sample(20)

,Student ID,First Name,Last Name,Grants,Loans,Federal,State,Institutional,Other,Net Total,Total,Year
462,2018000009,Aryanna,Rivera,"11,350.00","5,500.00","5,500.00",0.00,"11,350.00",0.00,"16,794.00","16,850.00",2018_19
26,ME6551934,Hanna,Mehok,"6,290.50",0.00,0.00,0.00,"6,290.50",0.00,"6,290.50","6,290.50",2015_16
491,2019000003,Lucas,Tessmer,"7,000.00",0.00,0.00,0.00,"7,000.00",0.00,"7,000.00","7,000.00",2018_19
374,2017000085,Andre,Hammond Jr,"19,179.00","9,500.00","15,595.00",0.00,"13,084.00",0.00,"28,581.00","28,679.00",2018_19
158,2017000063,Brianna,Bonner,"16,595.00","14,000.00","19,920.00",0.00,"10,675.00",0.00,"30,241.00","30,595.00",2017_18
283,2016000031,Akayla,Taylor,"20,399.00","7,500.00","14,999.00",0.00,"12,900.00",0.00,"27,821.00","27,899.00",2017_18
354,2018000068,Dâ€™Angelo,Fields,"17,170.00","3,250.00","9,345.00",0.00,"11,075.00",0.00,"20,387.00","20,420.00",2018_19
286,2016000067,Daniel,Toranzo,"7,500.00","24,500.00","24,500.00",0.00,"7,500.00",0.00,"31,196.00","32,000.00",2017_18
339,2018000010,Kylie,Chan,"8,100.00","35,500.00","5,500.00",0.00,"8,100.00","30,000.00","43,542.00","43,600.00",2018_19
50,2016000069,Alan,Beck,"3,000.00","5,500.00","5,500.00",0.00,"3,000.00",0.00,"8,444.00","8,500.00",2016_17
194,2017000017,Dannika,Fulmer,"6,000.00","5,500.00","5,500.00",0.00,"6,000.00",0.00,"11,442.00","11,500.00",2017_18
363,2018000057,Tanner,Gilmore,"6,048.00","3,750.00","6,798.00",0.00,"3,000.00",0.00,"9,759.00","9,798.00",2018_19
41,AJ5365039,Piyinchu,Ajeakwa,"9,000.00",0.00,0.00,0.00,"9,000.00",0.00,"9,000.00","9,000.00",2016_17
335,2017000031,Linzi,Carter,"9,595.00","9,500.00","15,595.00",0.00,"3,500.00",0.00,"18,997.00","19,095.00",2018_19
442,2018000036,Olivia,Muriel,"10,225.00","25,275.00","25,275.00",0.00,"10,225.00",0.00,"34,602.00","35,500.00",2018_19
204,2017000107,Jordan,Hall,"2,960.00","12,500.00","15,460.00",0.00,0.00,0.00,"15,140.00","15,460.00",2017_18
54,2016000059,Thomas,Brunansky,"12,000.00",0.00,0.00,0.00,"12,000.00",0.00,"12,000.00","12,000.00",2016_17
240,2016000017,Kaileiana,Lunch,"5,850.00","32,500.00","7,500.00",0.00,"5,850.00","25,000.00","38,272.00","38,350.00",2017_18
302,2016000037,Maria,Aguirre,"11,700.00","7,500.00","7,500.00",0.00,"11,700.00",0.00,"19,122.00","19,200.00",2018_19
2,AJ5365039,Piyinchu,Ajeakwa,"4,500.00",0.00,0.00,0.00,"4,500.00",0.00,"4,500.00","4,500.00",2015_16

In [97]:
#check data
len(student_financial)

516

In [98]:
student_financial.count()

Student ID       516
First Name       516
Last Name        516
Grants           516
Loans            516
Federal          516
State            516
Institutional    516
Other            516
Net Total        516
Total            516
Year             516
dtype: int64

In [99]:
#create dataframe
finance = student_financial[['Student ID', 'Grants', 'Loans', 'Federal',\
                             'Institutional', 'Net Total', 'Year']]

In [100]:
finance.sample(10)

,Student ID,Grants,Loans,Federal,Institutional,Net Total,Year
340,2018000130,"4,612.50","11,620.00","7,620.00","4,612.50","16,152.50",2018_19
195,2017000041,"8,200.00",0.00,0.00,"8,200.00","8,200.00",2017_18
260,2017000083,"8,520.00","12,500.00","14,870.00","6,150.00","20,890.00",2017_18
301,2018000117,"6,500.00",0.00,0.00,"6,500.00","6,500.00",2018_19
352,2017000048,"22,029.00","7,500.00","11,445.00","18,084.00","29,451.00",2018_19
275,RU1751715,"22,510.00","5,500.00","11,420.00","16,590.00","26,962.00",2017_18
436,2018000038,"11,745.00","20,500.00","16,245.00","6,000.00","32,137.00",2018_19
3,AL3620726,"4,500.00",0.00,0.00,"4,500.00","4,500.00",2015_16
33,SM2771902,"5,500.00",0.00,0.00,"5,500.00","5,500.00",2015_16
444,2018000110,"2,500.00",0.00,0.00,"2,500.00","2,500.00",2018_19

In [101]:
#change column names
financial = finance.rename(columns={'Student ID': 'ID', 'Net Total': 'Net_Total'})
financial.sample(10)

,ID,Grants,Loans,Federal,Institutional,Net_Total,Year
363,2018000057,"6,048.00","3,750.00","6,798.00","3,000.00","9,759.00",2018_19
81,2016000044,"11,683.00",0.00,"2,908.00","8,775.00","11,683.00",2016_17
352,2017000048,"22,029.00","7,500.00","11,445.00","18,084.00","29,451.00",2018_19
215,2017000042,"7,770.00","33,906.00","34,976.00","6,700.00","40,474.00",2017_18
149,2016000055,"6,000.00","20,500.00","6,500.00","6,000.00","26,432.00",2017_18
221,2016000022,"15,732.18","9,000.00","13,370.00","9,862.18","24,654.18",2017_18
44,AN4839179,0.00,0.00,0.00,0.00,0.00,2016_17
465,2018000098,"17,795.00","5,500.00","11,545.00","11,750.00","23,239.00",2018_19
48,BA7298794,"18,840.50","7,500.00","8,983.00","17,357.50","26,262.50",2016_17
325,2018000065,"2,000.00",0.00,0.00,"2,000.00","2,000.00",2018_19

In [102]:
#fix year column
financial[['YearBegin','YearEnd']] = financial.Year.str.split(pat = "_",expand=True)
financial.drop('Year', axis=1, inplace=True)
financial.drop('YearEnd', axis=1, inplace=True)
financial.sample(20)

,ID,Grants,Loans,Federal,Institutional,Net_Total,YearBegin
384,2016000004,"12,351.00","5,250.00","8,298.00","9,303.00","17,549.00",2018
282,2017000093,"5,000.00","7,500.00","7,500.00","5,000.00","12,422.00",2017
373,2018000108,"30,654.00","1,750.00","7,095.00","16,225.00","32,386.00",2018
362,2018000091,"8,500.00",0.00,0.00,"8,500.00","8,500.00",2018
323,2017000067,"13,145.00","12,500.00","18,595.00","7,050.00","25,515.00",2018
340,2018000130,"4,612.50","11,620.00","7,620.00","4,612.50","16,152.50",2018
450,2018000024,"13,773.00","24,980.00","27,103.00","11,650.00","27,137.00",2018
367,2018000060,"5,000.00","38,625.00","38,625.00","5,000.00","42,157.00",2018
321,2018000072,"12,150.00","6,500.00","6,500.00","12,150.00","18,582.00",2018
91,2016000047,"12,165.50","7,500.00","10,083.00","9,582.50","19,587.50",2016
288,2016000060,"12,770.00","7,500.00","11,270.00","9,000.00","20,192.00",2017
70,DI7450503,"9,500.00",0.00,0.00,"9,500.00","9,500.00",2016
428,2018000015,"21,034.00","5,500.00","5,500.00","11,450.00","26,478.00",2018
67,2016000063,"5,000.00","19,500.00",0.00,"5,000.00","24,500.00",2016
248,2017000097,"12,620.00","5,500.00","11,420.00","6,700.00","18,064.00",2017
160,2017000057,"9,920.00","16,500.00","22,420.00","4,000.00","25,958.00",2017
279,2017000101,"8,500.00","15,563.00","15,563.00","8,500.00","23,579.00",2017
416,2017000089,"11,095.00","25,000.00","18,595.00","5,000.00","35,965.00",2018
443,2018000037,"1,075.00",0.00,0.00,"1,075.00","1,075.00",2018
457,2016000043,"8,384.50","7,500.00","9,522.00","6,362.50","15,806.50",2018

In [ ]:
df.to_csv('money_clean.csv'