In [1]:
#import dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json

### Bring in first dataset - student academic term data

In [2]:
#import general student grade and course info
student_data = pd.read_csv('grade_data.csv')

In [3]:
#check data types
student_data.dtypes

Student ID                    object
Program                       object
Standing                       int64
Academic Term                 object
Transcript Term               object
Term GPA                     float64
Department                    object
Course                        object
Name                          object
Section                        int64
Start Date                    object
End Date                      object
Finalized                     object
Primary Faculty               object
Course Campus                 object
Status                        object
Status Date                   object
Enrollment Date               object
Delivery Method               object
Enrolled By                   object
Grade                        float64
Letter                        object
Grade Points                 float64
Quality Points               float64
Credits                        int64
Meetings                       int64
Present                        int64
Absent                         int64
Tardy                          int64
Excused                        int64
                              ...
% Attended                    object
Populi Course Offering ID      int64
Course Has Been Retaken       object
ACT score                      int64
Advisors                      object
Age                            int64
Citizenship                   object
Entrance Term                 object
Gender                        object
GPA                          float64
High School                   object
Home City                     object
Lead Source                   object
Street                        object
City                          object
State                         object
ZIP/Postal Code               object
Country                       object
Address type                  object
Private address               object
Programs                      object
IPEDS Race/Ethnicity          object
Hispanic or Latino            object
Race(s)                       object
Religion                       int64
SAT score                      int64
ZIP                            int64
LAT                          float64
LNG                          float64
Student_Term                   int64
Length: 61, dtype: object

In [4]:
student_data.head()

,Student ID,Program,Standing,Academic Term,Transcript Term,Term GPA,Department,Course,Name,Section,...,Programs,IPEDS Race/Ethnicity,Hispanic or Latino,Race(s),Religion,SAT score,ZIP,LAT,LNG,Student_Term
0,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Business Management,ECO 110,Microeconomics,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
1,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Integrated Core,INT 110,Critical Reasoning,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
2,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,General Education,WRI 100,College Composition I,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
3,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,Other,Chapel,Chapel,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1
4,18000007,Undergraduate,0,Spring 2017-2018,Spring 2017-2018,2.23,General Education,MTH 100,College Algebra,1,...,Undergraduate,Two or more races,No,"Asian, Native Hawaiian or Other Pacific Islander",0,0,92126,32.908449,-117.14138,1

In [5]:
#select datapoints
new = student_data[['Student ID', "Grade Points", 'Term GPA','Course', 'Name', 'Age', '% Attended', \
                 'Gender','Hispanic or Latino', 'Race(s)', \
                 'Primary Faculty', 'ZIP', 'LAT', 'LNG']].copy()

In [6]:
new.sample(10)

,Student ID,Grade Points,Term GPA,Course,Name,Age,% Attended,Gender,Hispanic or Latino,Race(s),Primary Faculty,ZIP,LAT,LNG
1813,2017000025,4.0,3.11,Chapel,Chapel,25,100%,FEMALE,Yes,"American Indian or Alaska Native, Black or Afr...",0,92231,32.687552,-115.541028
1927,2017000035,4.0,0.00,Chapel,Chapel,19,0%,FEMALE,No,White,John Reimann,92028,33.390477,-117.209427
6387,NE6166014,0.0,2.27,BUS 498,Advanced Reading in Business,27,73.33%,FEMALE,0,0,Nemanja Selezan,91977,32.726237,-116.994318
4478,BR3474121,3.0,2.38,FRS 100,Freshman Seminar,22,100%,FEMALE,0,American Indian or Alaska Native,Breann Williams,92592,33.511228,-117.042396
5325,GO1811968,2.0,3.48,NS 103,Introductory Biology I,21,100%,FEMALE,Yes,0,Geoff Bray,91776,34.090776,-118.095091
2504,2017000083,0.7,1.38,CHE 110,General Chemistry II and LAB,21,0%,FEMALE,Yes,0,Geoff Bray,92582,33.807607,-117.015163
381,2016000017,4.0,3.08,Chapel,Chapel,23,96.88%,FEMALE,No,"Native Hawaiian or Other Pacific Islander, White",0,94534,38.244839,-122.135861
5774,JU7739505,3.7,3.09,SPA 100,Spanish I,21,100%,FEMALE,Yes,0,David Orozco,90601,34.007840,-118.030271
1957,2017000042,3.0,2.86,BUS 305,Business Law,22,73.33%,FEMALE,Yes,White,Donald Armento,92078,33.117154,-117.180627
6859,RU1751715,4.0,3.82,HIS 100,Introduction to Historical Study,20,100%,FEMALE,0,White,David Williams,95901,39.223939,-121.494050

In [7]:
#rename columns
new.rename(columns={'% Attended': 'Attendance', 'Term GPA': 'Term_GPA', "Grade Points": 'Grade', 'Student ID': 'ID', 'Hispanic or Latino' : 'Latino', 'Race(s)' : 'Race', 'Primary Faculty': 'Professor'}, inplace=True)
new.head(25)

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.141380
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.141380
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.141380
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.141380
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.141380
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380
6,18000007,3.7,2.25,MGT 315,Organizational Behavior,23,59.18%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
7,18000007,3.3,2.25,THE 100,Orthodox Christianity,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380
8,18000007,0.0,2.25,WRI 105,College Composition II,23,40%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Tricia Woodward,92126,32.908449,-117.141380
9,18000007,2.0,2.25,MGT 320,HR and Talent Management,23,63.27%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
10,18000007,0.0,0.00,CHE 100,Natural World: Chemistry,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Gor Sarkisyan,92126,32.908449,-117.141380
11,18000007,0.0,0.00,MGT 270,Management Information Systems,23,50%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
12,18000007,4.0,0.00,Chapel,Chapel,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.141380
13,18000007,1.7,0.00,INT 310,Modern European Thought &amp; Culture,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Evan Getz,92126,32.908449,-117.141380
14,18000007,4.0,0.00,THE 105,New Testament,23,0%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Robert Fortuin,92126,32.908449,-117.141380
15,18000007,4.0,0.00,COM 315,Communication Theory,23,66.67%,MALE,No,"Asian, Native Hawaiian or Other Pacific Islander",Jim Getman,92126,32.908449,-117.141380
16,18000048,4.0,1.90,Chapel,Chapel,18,100%,FEMALE,Yes,Black or African American,John Reimann,90220,33.881510,-118.234451
17,18000048,1.3,1.90,INT 100,Interdisciplinary Liberal Arts,18,62.22%,FEMALE,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451
18,18000048,3.3,1.90,KIN 200,Introduction to Kinesiology,18,78.13%,FEMALE,Yes,Black or African American,Nick Szyndlar,90220,33.881510,-118.234451
19,18000048,1.0,1.90,THE 100,Orthodox Christianity,18,0%,FEMALE,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451
20,18000048,2.0,1.90,WRI 100,College Composition I,18,68.89%,FEMALE,Yes,Black or African American,Tricia Woodward,90220,33.881510,-118.234451
21,18000048,1.0,0.00,MTH 100,College Algebra,18,83.33%,FEMALE,Yes,Black or African American,Kelly DeGrassie,90220,33.881510,-118.234451
22,18000048,1.7,0.00,THE 105,New Testament,18,0%,FEMALE,Yes,Black or African American,Robert Fortuin,90220,33.881510,-118.234451
23,18000048,0.0,0.00,WRI 105,College Composition II,18,66.67%,FEMALE,Yes,Black or African American,Evan Getz,90220,33.881510,-118.234451
24,18000048,0.0,0.00,KIN 100,Fundamentals of Nutrition,18,50%,FEMALE,Yes,Black or African American,Jessica Rodriguez,90220,33.881510,-118.234451

In [8]:
# Change "Female" to 2 and Male to 1 in response columns
gender_df = new.replace({'MALE': 2, 'FEMALE': 3})
gender_df.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138

In [9]:
gender_df['Gender'].value_counts()

2          4567
3          2940
UNKNOWN      21
Name: Gender, dtype: int64

In [10]:
#drop unknown gender
gender_df.drop(gender_df.loc[new['Gender']=='UNKNOWN'].index, inplace=True)

In [11]:
gender_df['Gender'].value_counts()

2    4567
3    2940
Name: Gender, dtype: int64

In [12]:
new = gender_df
new.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
3,18000007,4.0,2.23,Chapel,Chapel,23,75.76%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",0,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138

In [13]:
#remove gaps in Professor ino
new.drop(new.loc[new['Professor']=='0'].index, inplace=True)
new.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.14138

In [14]:
professor_df = new

In [15]:
#keep professors who have taught 30 plus classes
professor_df.groupby(['Professor']).ID.count()[lambda x:x>=29]

Professor
Adriano Polonia         32
Aline Bitar             49
Alyson Klier            32
Alyssa Ramos            84
Andrew Nosal            71
Anna Radovic            30
Arkadiuz Mironko        30
Bari Berman             36
Bethany Getz           131
Breann Williams         61
Christos Korgan        114
Darijo Banjac           89
David Orozco            69
David Williams         202
Denise Canellos         41
Diana Sifford           53
Evan Getz              246
Eve Tibbs               73
Frank Papatheofanis    117
Gaelan Gilbert         359
Garrett Miller         364
Gary Hartenburg         49
Geoff Bray             332
Gor Sarkisyan           53
Helen Lee              108
Jason Galea            101
Jelena Gazivoda         37
Jessica Rodriguez      212
Jim Getman             170
John Dempsey            52
John Reimann           299
John Strickland        388
Josh Dexheimer          29
Josh Koeplin-Day        53
Josiah Trenham         148
Kathryn Belsey         107
Kathy Meck              87
Kay Harkins            133
Kelly DeGrassie         97
Megan Gilbert           37
Megan Jendian           92
Michael Massis          36
Michael Reedy           35
Mili Metz               49
Min Lee                 39
Nazo Zakkak             62
Nemanja Selezan         78
Nick Szyndlar          111
Pete Boukouzis          95
Peter Fellios           87
Radu Munteanu          252
Rebecca Coleman         33
Robert Fortuin         278
Ryan West               37
Thomas Smith           148
Tricia Woodward         53
Name: ID, dtype: int64

In [16]:
professor_df = professor_df.assign(id=(professor_df['Professor']).astype('category').cat.codes)
professor_df.head()

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Nemanja Selezan,92126,32.908449,-117.14138,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Garrett Miller,92126,32.908449,-117.14138,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Bethany Getz,92126,32.908449,-117.14138,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",Kelly DeGrassie,92126,32.908449,-117.14138,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",John Reimann,92126,32.908449,-117.14138,46

In [17]:
# new['Teacher_ID'] = new.groupby(['Professor']).ngroup()
# new

In [18]:
#assign numbers to names (privacy)

c =professor_df.Professor.astype('category')
df = dict(enumerate(c.cat.categories))
df

{0: 'Adriano Polonia',
 1: 'Alex McLellan',
 2: 'Aline Bitar',
 3: 'Alyson Klier',
 4: 'Alyssa Ramos',
 5: 'Andrej Grkovich',
 6: 'Andrew Nosal',
 7: 'Anna Radovic',
 8: 'Arkadiuz Mironko',
 9: 'Bari Berman',
 10: 'Bethany Getz',
 11: 'Brady Rice',
 12: 'Breann Williams',
 13: 'Calinic Berger',
 14: 'Carmen DiPadova',
 15: 'Christos Korgan',
 16: 'Dan Marino',
 17: 'Darijo Banjac',
 18: 'Darrell Dooyema',
 19: 'David Orozco',
 20: 'David Williams',
 21: 'Denise Canellos',
 22: 'Diana Sifford',
 23: 'Donald Armento',
 24: 'Elisabeth Kotzakidou-Pace',
 25: 'Evan Getz',
 26: 'Eve Tibbs',
 27: 'Frank Papatheofanis',
 28: 'Gaelan Gilbert',
 29: 'Garrett Miller',
 30: 'Gary Hartenburg',
 31: 'Geoff Bray',
 32: 'Goncalo Mendes',
 33: 'Gor Sarkisyan',
 34: 'Helen Lee',
 35: 'J Andrew Deane',
 36: 'Jamie Netherland',
 37: 'Jason Galea',
 38: 'Jeanne Constantinou',
 39: 'Jelena Gazivoda',
 40: 'Jessica Rodriguez',
 41: 'Jim Getman',
 42: 'Jim Spencer',
 43: 'John Coroneus',
 44: 'John Dempsey',
 45: 'John Finley',
 46: 'John Reimann',
 47: 'John Strickland',
 48: 'John deGrassie',
 49: 'Joseph Moon',
 50: 'Josh Dexheimer',
 51: 'Josh Koeplin-Day',
 52: 'Josiah Trenham',
 53: 'Kaitlin Fisher',
 54: 'Kathryn Belsey',
 55: 'Kathy Meck',
 56: 'Kay Harkins',
 57: 'Kelly DeGrassie',
 58: 'Lacey Burns',
 59: 'Leonard Wissner',
 60: 'Lusine Abgaryan',
 61: 'Marisa Poulos',
 62: 'Mark Harrison',
 63: 'Mark Williams',
 64: 'Megan Gilbert',
 65: 'Megan Jendian',
 66: 'Michael Massis',
 67: 'Michael Reedy',
 68: 'Michael Sitaras',
 69: 'Michael Wnek',
 70: 'Mili Metz',
 71: 'Min Lee',
 72: 'Nancy Gilbert',
 73: 'Natalia Volodina',
 74: 'Nate McGlone',
 75: 'Nazo Zakkak',
 76: 'Nemanja Selezan',
 77: 'Nick Szyndlar',
 78: 'Patrick Gilbert',
 79: 'Pete Boukouzis',
 80: 'Peter Fellios',
 81: 'Radu Munteanu',
 82: 'Rebecca Coleman',
 83: 'Robert Fortuin',
 84: 'Ryan West',
 85: 'Sarah Moody',
 86: 'Scott Cairns',
 87: 'Shawn Benson',
 88: 'Stephen Tibbs',
 89: 'Thomas Smith',
 90: 'Tricia Woodward',
 91: 'Vladimir Morosan'}

In [19]:
teacher_key = pd.DataFrame.from_dict(df, orient='index')
teacher_key.head()

                 0
0  Adriano Polonia
1    Alex McLellan
2      Aline Bitar
3     Alyson Klier
4     Alyssa Ramos

In [20]:
teacher_key.to_csv('professor_key.csv')

In [21]:
diversity =professor_df
#diversity.head()

In [22]:
diversity.drop(['Professor'], axis=1)

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,46
6,18000007,3.7,2.25,MGT 315,Organizational Behavior,23,59.18%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,41
7,18000007,3.3,2.25,THE 100,Orthodox Christianity,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,83
8,18000007,0.0,2.25,WRI 105,College Composition II,23,40%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,90
9,18000007,2.0,2.25,MGT 320,HR and Talent Management,23,63.27%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,41
10,18000007,0.0,0.00,CHE 100,Natural World: Chemistry,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,33
11,18000007,0.0,0.00,MGT 270,Management Information Systems,23,50%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,41
12,18000007,4.0,0.00,Chapel,Chapel,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,46
13,18000007,1.7,0.00,INT 310,Modern European Thought &amp; Culture,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,25
14,18000007,4.0,0.00,THE 105,New Testament,23,0%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,83
15,18000007,4.0,0.00,COM 315,Communication Theory,23,66.67%,2,No,"Asian, Native Hawaiian or Other Pacific Islander",92126,32.908449,-117.141380,41
16,18000048,4.0,1.90,Chapel,Chapel,18,100%,3,Yes,Black or African American,90220,33.881510,-118.234451,46
17,18000048,1.3,1.90,INT 100,Interdisciplinary Liberal Arts,18,62.22%,3,Yes,Black or African American,90220,33.881510,-118.234451,25
18,18000048,3.3,1.90,KIN 200,Introduction to Kinesiology,18,78.13%,3,Yes,Black or African American,90220,33.881510,-118.234451,77
19,18000048,1.0,1.90,THE 100,Orthodox Christianity,18,0%,3,Yes,Black or African American,90220,33.881510,-118.234451,83
20,18000048,2.0,1.90,WRI 100,College Composition I,18,68.89%,3,Yes,Black or African American,90220,33.881510,-118.234451,90
21,18000048,1.0,0.00,MTH 100,College Algebra,18,83.33%,3,Yes,Black or African American,90220,33.881510,-118.234451,57
22,18000048,1.7,0.00,THE 105,New Testament,18,0%,3,Yes,Black or African American,90220,33.881510,-118.234451,83
23,18000048,0.0,0.00,WRI 105,College Composition II,18,66.67%,3,Yes,Black or African American,90220,33.881510,-118.234451,25
24,18000048,0.0,0.00,KIN 100,Fundamentals of Nutrition,18,50%,3,Yes,Black or African American,90220,33.881510,-118.234451,40
25,2016000002,3.3,2.78,FRS 100,Freshman Seminar,20,100%,2,No,White,92065,33.053006,-116.850651,12
26,2016000002,2.3,2.78,INT 100,Interdisciplinary Studies,20,94.12%,2,No,White,92065,33.053006,-116.850651,28
27,2016000002,2.0,2.78,MGT 100,Foundations of Business,20,100%,2,No,White,92065,33.053006,-116.850651,76
29,2016000002,4.0,2.78,WRI 100,College Composition I,20,96.15%,2,No,White,92065,33.053006,-116.850651,54
31,2016000002,2.7,2.78,ECO 115,Principles of Macroeconomics,20,100%,2,No,White,92065,33.053006,-116.850651,81
32,2016000002,2.3,3.25,ECO 110,Principles of Microeconomics,20,96.67%,2,No,White,92065,33.053006,-116.850651,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7492,YO7757255,1.3,1.08,CI 175,Core: Foundations of College Writing,25,0%,2,0,0,92553,33.923381,-117.244837,56
7493,YO7757255,1.0,1.08,TH 100 A,"Foundations of Orthodox Theology - A ""History ...",25,0%,2,0,0,92553,33.923381,-117.244837,26
7495,ZA9932917,0.0,1.67,IC 110,Critical Reasoning,26,54.55%,2,0,0,92069,33.170775,-117.158676,29
7496,ZA9932917,3.7,1.67,KN 110 KN,Kinesiology,26,53.85%,2,0,0,92069,33.170775,-117.158676,69
7497,ZA9932917,1.3,1.67,KN 210 KN,Sports Psychology,26,63.64%,2,0,0,92069,33.170775,-117.158676,37
7498,ZA9932917,0.0,1.67,SKCF,Saint Katherine College Forum Lectures,26,0%,2,0,0,92069,33.170775,-117.158676,47
7499,ZU5104464,3.0,3.22,BU 100,Foundations of Business,31,100%,3,0,White,92563,33.580016,-117.147360,81
7500,ZU5104464,4.0,3.22,BU 125,Management Principles &amp; Organizational Beh...,31,100%,3,0,White,92563,33.580016,-117.147360,81
7501,ZU5104464,3.0,3.22,KN 205,Sports Administration I,31,96%,3,0,White,92563,33.580016,-117.147360,37
7502,ZU5104464,3.0,3.22,IC 200,Classical Rhetoric,31,100%,3,0,White,92563,33.580016,-117.147360,28
7503,ZU5104464,3.0,3.22,IC 300,Modern European Thought and Culture,31,0%,3,0,White,92563,33.580016,-117.147360,47
7504,ZU5104464,3.3,3.22,BU 110,Principles of Microeconomics,31,100%,3,0,White,92563,33.580016,-117.147360,81
7505,ZU5104464,4.0,3.22,SKCF,Saint Katherine College Forum Lectures,31,0%,3,0,White,92563,33.580016,-117.147360,47
7506,ZU5104464,2.0,2.23,BU 205,Legal Environment of Business,31,100%,3,0,White,92563,33.580016,-117.147360,81
7507,ZU5104464,2.7,2.23,BUS 250,Banking and Financial Economics,31,100%,3,0,White,92563,33.580016,-117.147360,81
7508,ZU5104464,0.0,2.23,GE 120,Introduction to Statistics/Biostatistics,31,92.86%,3,0,White,92563,33.580016,-117.147360,59
7509,ZU5104464,2.7,2.23,GE 140,Natural World: Chemistry,31,100%,3,0,White,92563,33.580016,-117.147360,31
7510,ZU5104464,2.7,2.23,GE 170,New Testament,31,100%,3,0,White,92563,33.580016,-117.147360,52
7511,ZU5104464,3.3,2.23,IC 310,Ethics,31,100%,3,0,White,92563,33.580016,-117.147360,29
7513,ZU5104464,3.0,3.53,AH 300 IS,Interdisciplinary Theory &amp; Methodolgy,31,0%,3,0,White,92563,33.580016,-117.147360,28
7515,ZU5104464,4.0,3.53,GE 101,Composition I,31,95.83%,3,0,White,92563,33.580016,-117.147360,54
7517,ZU5104464,4.0,3.53,GE 160,Orthodox Christianity,31,100%,3,0,White,92563,33.580016,-117.147360,83
7518,ZU5104464,4.0,3.53,GE 400,Advanced Reading for Research,31,0%,3,0,White,92563,33.580016,-117.147360,28
7519,ZU5104464,2.0,3.53,IC 350,"The American Experiment in Politics, Culture, ...",31,100%,3,0,White,92563,33.580016,-117.147360,80
7520,ZU5104464,4.0,3.53,SKCF,Saint Katherine College Forum Lectures,31,0%,3,0,White,92563,33.580016,-117.147360,27
7521,ZU5104464,2.3,3.33,AH 316 PSY,Behavioral Modification,31,91.67%,3,0,White,92563,33.580016,-117.147360,80
7522,ZU5104464,4.0,3.33,GE 120,Introduction to Statistics/Biostatistics,31,0%,3,0,White,92563,33.580016,-117.147360,15
7523,ZU5104464,3.7,3.33,AH 210 EN,Anglo Saxon &amp; Medieval British Literature,31,100%,3,0,White,92563,33.580016,-117.147360,28
7524,ZU5104464,3.3,3.33,IC 210,Western Civilization &amp; the Formation of Ch...,31,100%,3,0,White,92563,33.580016,-117.147360,28
7526,ZU5104464,0.0,3.33,GE 102,Composition II,31,0%,3,0,White,92563,33.580016,-117.147360,54

In [23]:
diversity['Latino'].value_counts()

0      2801
No     2164
Yes    1674
Name: Latino, dtype: int64

In [24]:
#diversity.head()

In [25]:

diversity.drop(diversity.loc[diversity['Latino']=='0'].index, inplace=True)
#diversity.head()

In [26]:
diversity.drop(diversity.loc[diversity['Race']=='0'].index, inplace=True)
#diversity.head()

In [27]:
diversity['Race'].value_counts()

White                                                                          1766
Black or African American                                                       464
Black or African American, White                                                113
Native Hawaiian or Other Pacific Islander                                        84
Asian, Native Hawaiian or Other Pacific Islander                                 68
American Indian or Alaska Native                                                 54
Asian, Native Hawaiian or Other Pacific Islander, White                          53
Asian                                                                            51
Native Hawaiian or Other Pacific Islander, White                                 50
American Indian or Alaska Native, Black or African American                      40
Asian, White                                                                     26
Asian, Black or African American, Native Hawaiian or Other Pacific Islander      21
American Indian or Alaska Native, Black or African American, White               12
Asian, Black or African American                                                 11
Name: Race, dtype: int64

In [28]:
diversity.drop(diversity.loc[diversity['Attendance']=='0'].index, inplace=True)
diversity['Attendance'].value_counts()

100%      847
0%        413
83.33%     92
96.67%     47
94.12%     42
93.75%     42
93.33%     40
66.67%     39
96.97%     36
50%        35
80%        33
90%        33
96.88%     32
86.67%     32
96.55%     32
75%        31
85.71%     28
97.06%     27
92.86%     25
87.50%     24
88.24%     21
92.31%     19
96.15%     19
90.63%     18
88.89%     17
93.10%     16
89.66%     13
97.83%     13
96.30%     12
92.59%     12
         ...
75.76%      1
59.38%      1
48.39%      1
63.27%      1
65.52%      1
97.96%      1
74.19%      1
35.48%      1
68%         1
61.22%      1
50.98%      1
39.13%      1
48.28%      1
70.97%      1
55.81%      1
92.11%      1
45.45%      1
73.08%      1
67.50%      1
75.56%      1
61.29%      1
69.70%      1
67.44%      1
81.63%      1
79.17%      1
6.98%       1
94.74%      1
85.42%      1
58.82%      1
70.27%      1
Name: Attendance, Length: 242, dtype: int64

In [29]:
diversity.drop(diversity.loc[diversity['Term_GPA']==0.00].index, inplace=True)
diversity['Term_GPA'].value_counts()

4.00    43
2.80    42
2.93    40
2.92    38
2.18    38
2.86    32
2.78    31
2.58    30
3.34    30
2.60    28
3.54    27
3.40    25
2.40    24
3.08    24
2.72    23
2.43    23
3.66    22
2.38    21
3.94    21
3.20    21
3.00    21
2.75    20
3.39    20
3.75    20
2.73    20
2.15    20
2.06    19
3.95    19
1.90    19
3.90    17
        ..
1.53     5
2.03     5
2.94     5
3.18     5
3.11     5
2.59     5
1.08     5
0.48     4
0.30     4
1.65     4
1.97     4
1.64     4
0.77     4
3.57     4
2.37     4
1.59     4
0.43     4
1.78     4
2.77     4
2.10     4
3.45     4
3.16     4
3.58     4
3.48     4
0.64     4
0.99     4
2.87     4
2.02     3
0.82     3
2.67     3
Name: Term_GPA, Length: 192, dtype: int64

In [30]:
diversity.drop(diversity.loc[diversity['Attendance']=='0%'].index, inplace=True)
diversity['Attendance'].value_counts()

100%      553
96.67%     47
93.75%     42
94.12%     42
93.33%     39
96.97%     36
90%        32
86.67%     32
96.55%     32
96.88%     32
97.06%     27
80%        27
92.86%     25
85.71%     24
88.24%     21
83.33%     20
87.50%     20
96.15%     19
92.31%     19
90.63%     18
88.89%     17
93.10%     16
75%        16
66.67%     14
89.66%     13
97.83%     13
92.59%     12
96.30%     12
77.78%     11
97.73%     10
         ...
65.31%      1
35.48%      1
72.09%      1
61.36%      1
81.08%      1
69.05%      1
92.11%      1
86.27%      1
48.39%      1
79.17%      1
42.86%      1
97.96%      1
33.33%      1
50.98%      1
69.70%      1
70.97%      1
55.81%      1
86.49%      1
73.08%      1
67.50%      1
26.67%      1
67.44%      1
70%         1
81.63%      1
65.52%      1
59.38%      1
70.27%      1
85.42%      1
63.27%      1
75.76%      1
Name: Attendance, Length: 227, dtype: int64

In [31]:
cleaned = diversity.replace({'White': 1, 'Black or African American': 2, 'Asian': 3, 'Black or African American, White': 2,\
                   'American Indian or Alaska Native': 4, 'Native Hawaiian or Other Pacific Islander': 5,'Asian, Native Hawaiian or Other Pacific Islander': 5,\
                   'Asian, Native Hawaiian or Other Pacific Islander, White': 5, 'American Indian or Alaska Native, Black or African American ': 2, 'Asian, White': 3,\
                   'Asian, Black or African American, Native Hawaiian or Other Pacific Islander': 2, 'Native Hawaiian or Other Pacific Islander, White': 1, \
                   'American Indian or Alaska Native, Black or African American': 2, 'Asian, Black or African American, Native Hawaiian or Other Pacific Islander': 1, \
                   'American Indian or Alaska Native, Black or African American, White': 2, 'Asian, Black or African American': 1})
cleaned.sample(10)

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,Professor,ZIP,LAT,LNG,id
1453,2016000071,4.0,3.05,Chapel,Chapel,23,96.97%,3,No,2,John Reimann,92592,33.511228,-117.042396,46
290,2016000012,2.7,3.00,INT 300,Ethics,20,100%,2,No,1,Garrett Miller,92056,33.201242,-117.296984,29
3545,2018000072,2.3,2.98,WRI 100,College Composition I,18,86.36%,3,No,3,Bethany Getz,0,0.000000,0.000000,10
821,2016000036,2.7,3.10,THE 105,New Testament,20,100%,3,Yes,1,Josiah Trenham,85364,32.702260,-114.658013,52
52,2016000002,4.0,3.88,Chapel,Chapel,20,100%,2,No,1,John Reimann,92065,33.053006,-116.850651,46
2171,2017000061,4.0,3.50,Chapel,Chapel,19,96.97%,3,No,1,John Reimann,84081,40.602795,-112.037616,46
963,2016000045,2.7,2.70,WRI 105,College Composition II,21,88%,2,No,1,Bethany Getz,76244,32.928037,-97.283914,10
1072,2016000052,3.3,2.40,MGT 100,Foundations of Business,25,88.24%,2,Yes,1,Nemanja Selezan,92064,32.983606,-117.019035,76
3823,2018000105,2.7,3.35,MTH 100,College Algebra,18,93.33%,3,No,1,Kelly DeGrassie,92592,33.511228,-117.042396,57
2355,2017000074,4.0,3.75,FIN 430,Corporate Finance,22,90.70%,2,Yes,1,Pete Boukouzis,93555,35.606509,-117.683472,79

In [32]:
cleaned['Race'].value_counts()

1    1276
2     418
5     142
4      43
3      34
Name: Race, dtype: int64

In [33]:
cleaned.dtypes

ID             object
Grade         float64
Term_GPA      float64
Course         object
Name           object
Age             int64
Attendance     object
Gender          int64
Latino         object
Race            int64
Professor      object
ZIP             int64
LAT           float64
LNG           float64
id               int8
dtype: object

In [34]:
cleaned.drop(columns = 'Professor')

,ID,Grade,Term_GPA,Course,Name,Age,Attendance,Gender,Latino,Race,ZIP,LAT,LNG,id
0,18000007,2.3,2.23,ECO 110,Microeconomics,23,88.89%,2,No,5,92126,32.908449,-117.141380,76
1,18000007,1.0,2.23,INT 110,Critical Reasoning,23,50%,2,No,5,92126,32.908449,-117.141380,29
2,18000007,2.3,2.23,WRI 100,College Composition I,23,55.81%,2,No,5,92126,32.908449,-117.141380,10
4,18000007,3.3,2.23,MTH 100,College Algebra,23,60%,2,No,5,92126,32.908449,-117.141380,57
5,18000007,4.0,2.25,Chapel,Chapel,23,100%,2,No,5,92126,32.908449,-117.141380,46
6,18000007,3.7,2.25,MGT 315,Organizational Behavior,23,59.18%,2,No,5,92126,32.908449,-117.141380,41
8,18000007,0.0,2.25,WRI 105,College Composition II,23,40%,2,No,5,92126,32.908449,-117.141380,90
9,18000007,2.0,2.25,MGT 320,HR and Talent Management,23,63.27%,2,No,5,92126,32.908449,-117.141380,41
16,18000048,4.0,1.90,Chapel,Chapel,18,100%,3,Yes,2,90220,33.881510,-118.234451,46
17,18000048,1.3,1.90,INT 100,Interdisciplinary Liberal Arts,18,62.22%,3,Yes,2,90220,33.881510,-118.234451,25
18,18000048,3.3,1.90,KIN 200,Introduction to Kinesiology,18,78.13%,3,Yes,2,90220,33.881510,-118.234451,77
20,18000048,2.0,1.90,WRI 100,College Composition I,18,68.89%,3,Yes,2,90220,33.881510,-118.234451,90
25,2016000002,3.3,2.78,FRS 100,Freshman Seminar,20,100%,2,No,1,92065,33.053006,-116.850651,12
26,2016000002,2.3,2.78,INT 100,Interdisciplinary Studies,20,94.12%,2,No,1,92065,33.053006,-116.850651,28
27,2016000002,2.0,2.78,MGT 100,Foundations of Business,20,100%,2,No,1,92065,33.053006,-116.850651,76
29,2016000002,4.0,2.78,WRI 100,College Composition I,20,96.15%,2,No,1,92065,33.053006,-116.850651,54
31,2016000002,2.7,2.78,ECO 115,Principles of Macroeconomics,20,100%,2,No,1,92065,33.053006,-116.850651,81
32,2016000002,2.3,3.25,ECO 110,Principles of Microeconomics,20,96.67%,2,No,1,92065,33.053006,-116.850651,17
33,2016000002,2.7,3.25,HIS 200,Special Topics: Civil War and Reconstruction Era,20,100%,2,No,1,92065,33.053006,-116.850651,12
34,2016000002,4.0,3.25,INT 110,Critical Reasoning,20,93.10%,2,No,1,92065,33.053006,-116.850651,29
35,2016000002,4.0,3.25,WRI 105,College Composition II,20,94.12%,2,No,1,92065,33.053006,-116.850651,71
37,2016000002,2.3,2.72,ACC 220,Financial Accounting,20,96.55%,2,No,1,92065,33.053006,-116.850651,17
38,2016000002,3.7,2.72,INT 200,Classical Rhetoric,20,96.30%,2,No,1,92065,33.053006,-116.850651,25
39,2016000002,2.3,2.72,SPA 100,Spanish I,20,100%,2,No,1,92065,33.053006,-116.850651,19
42,2016000002,4.0,3.30,ACC 230,Managerial Accounting,20,100%,2,No,1,92065,33.053006,-116.850651,17
43,2016000002,3.7,3.30,INT 210,Western Civilization &amp; the Formation of Ch...,20,100%,2,No,1,92065,33.053006,-116.850651,20
44,2016000002,3.0,3.30,MGT 315,Organizational Behavior,20,94.12%,2,No,1,92065,33.053006,-116.850651,89
45,2016000002,2.7,3.30,SPA 105,Spanish II,20,100%,2,No,1,92065,33.053006,-116.850651,19
47,2016000002,4.0,3.88,BUS 305,Business Law,20,93.33%,2,No,1,92065,33.053006,-116.850651,23
48,2016000002,4.0,3.88,COM 105,Oral Communication,20,96%,2,No,1,92065,33.053006,-116.850651,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,2018000112,3.7,3.08,COM 105,Oral Communication,20,100%,2,Yes,1,90037,34.002719,-118.287487,41
3879,2018000112,1.7,3.08,MGT 100,Foundations of Management,20,100%,2,Yes,1,90037,34.002719,-118.287487,79
3880,2018000112,2.7,3.08,MTH 090,Intermediate Algebra,20,96.08%,2,Yes,1,90037,34.002719,-118.287487,34
3881,2018000112,3.0,3.08,WRI 090,Intermediate Composition,20,100%,2,Yes,1,90037,34.002719,-118.287487,90
3890,2018000113,4.0,3.03,Chapel,Chapel,23,100%,2,No,2,92595,33.617844,-117.259304,46
3891,2018000113,3.7,3.03,MGT 320,HR and Talent Management,23,100%,2,No,2,92595,33.617844,-117.259304,41
3892,2018000113,2.7,3.03,MKT 260,Principles of Marketing,23,100%,2,No,2,92595,33.617844,-117.259304,22
3893,2018000113,2.7,3.03,MTH 100,College Algebra,23,100%,2,No,2,92595,33.617844,-117.259304,34
3900,2018000114,4.0,1.80,Chapel,Chapel,24,96.97%,2,No,2,91941,32.759333,-116.997247,46
3901,2018000114,1.7,1.80,BIO 100,Natural World: Biology,24,80.65%,2,No,2,91941,32.759333,-116.997247,77
3902,2018000114,2.3,1.80,ECO 115,Macroeconomics,24,70.59%,2,No,2,91941,32.759333,-116.997247,89
3903,2018000114,0.0,1.80,SPA 100,Spanish I,24,88.89%,2,No,2,91941,32.759333,-116.997247,19
3904,2018000114,2.0,1.80,WRI 105,College Composition II,24,77.78%,2,No,2,91941,32.759333,-116.997247,90
3912,2018000115,3.3,3.38,BIO 305,Human Physiology &amp; Anatomy I,22,77.27%,2,Yes,1,91915,32.623185,-116.949053,11
3913,2018000115,2.7,3.38,BIO 415,Molecular Biology,22,89.29%,2,Yes,1,91915,32.623185,-116.949053,33
3914,2018000115,4.0,3.38,Chapel,Chapel,22,100%,2,Yes,1,91915,32.623185,-116.949053,46
3915,2018000115,4.0,3.38,INT 350,"The American Experiment in Politics, Culture &...",22,93.33%,2,Yes,1,91915,32.623185,-116.949053,20
3916,2018000115,3.0,3.38,PHY 105,Physics I and LAB,22,70.27%,2,Yes,1,91915,32.623185,-116.949053,57
3934,2018000117,4.0,2.40,Chapel,Chapel,20,96.97%,3,No,5,92057,33.254619,-117.283341,46
3935,2018000117,3.3,2.40,COM 100,Introduction to Communication,20,85.29%,3,No,5,92057,33.254619,-117.283341,41
3936,2018000117,3.0,2.40,KIN 150,Intro to Athletic Training,20,88.37%,3,No,5,92057,33.254619,-117.283341,51
3937,2018000117,1.0,2.40,MTH 100,College Algebra,20,88.24%,3,No,5,92057,33.254619,-117.283341,34
3938,2018000117,2.3,2.40,WRI 100,College Composition I,20,72.73%,3,No,5,92057,33.254619,-117.283341,10
7117,ST9272880,4.0,3.94,BI 320,Social Epidemiology,26,100%,2,No,1,92081,33.164374,-117.240270,35
7120,ST9272880,4.0,3.76,AH 205,Introduction to Dance,26,90.63%,2,No,1,92081,33.164374,-117.240270,3
7121,ST9272880,4.0,3.76,GE 120,Introduction to Biostatistics,26,90.91%,2,No,1,92081,33.164374,-117.240270,35
7122,ST9272880,3.0,3.76,IC 320,The Person and Society,26,100%,2,No,1,92081,33.164374,-117.240270,28
7123,ST9272880,4.0,3.76,BE 240 ME,Intro to Non-Profit Management,26,100%,2,No,1,92081,33.164374,-117.240270,31
7129,ST9272880,3.7,3.85,PSY 490,Research Methods,26,100%,2,No,1,92081,33.164374,-117.240270,15
7130,ST9272880,4.0,3.85,PSY 355,Psychology of Personality,26,86.67%,2,No,1,92081,33.164374,-117.240270,70

In [35]:
import json
import pprint
#create a dictionary of our data so far
studentJson=cleaned.stack().value_counts().to_dict()

In [36]:
#save as new csv file
cleaned.to_csv('student_clean.csv')

In [37]:
len(cleaned)

1913

#### Clean financial data

In [38]:
#import grant and loan info
student_financial = pd.read_csv('Financial.csv')
student_financial.sample(20)

,Student ID,First Name,Last Name,Grants,Loans,Federal,State,Institutional,Other,Net Total,Total,Year
175,2017000044,Zachery,Chilton,"9,770.00","30,500.00","9,270.00",0.00,"7,000.00","24,000.00","40,202.00","40,270.00",2017_18
406,2016000080,Domnique,Key,"12,745.00","30,530.00","36,275.00",0.00,"7,000.00",0.00,"42,217.00","43,275.00",2018_19
391,2017000091,Kiana,Indian,"14,100.00",0.00,0.00,0.00,"14,100.00",0.00,"14,100.00","14,100.00",2018_19
170,CE6112632,Tamalyn,Cervin,"2,437.50",0.00,0.00,0.00,"2,437.50",0.00,"2,437.50","2,437.50",2017_18
83,2016000009,Jairo,Gonzalez,"6,500.00","6,500.00","6,500.00",0.00,"6,500.00",0.00,"12,932.00","13,000.00",2016_17
345,2018000022,Kane,Daniels,"26,179.00","12,500.00","18,595.00","9,084.00","11,000.00",0.00,"38,389.00","38,679.00",2018_19
349,2016000035,Jorge,Diaz,"9,156.00","19,500.00","19,500.00",0.00,"9,156.00",0.00,"28,070.00","28,656.00",2018_19
372,2016000052,Jonathan,Halverson,"2,500.00",0.00,0.00,0.00,"2,500.00",0.00,"2,500.00","2,500.00",2018_19
3,AL3620726,Matthew,Aldama,"4,500.00",0.00,0.00,0.00,"4,500.00",0.00,"4,500.00","4,500.00",2015_16
485,2018000027,Dalin,Stanford,"16,595.00","5,500.00","11,595.00",0.00,"8,500.00","2,000.00","22,039.00","22,095.00",2018_19
497,2018000051,Evan,Valencia,"9,500.00","16,532.00","16,532.00",0.00,"9,500.00",0.00,"25,508.00","26,032.00",2018_19
376,2017000052,Tucker,Hargraves,"8,000.00","12,500.00","12,500.00",0.00,"8,000.00",0.00,"20,368.00","20,500.00",2018_19
118,2016000008,Meredith,Miller,"5,850.00","5,500.00","5,500.00",0.00,"5,850.00",0.00,"11,294.00","11,350.00",2016_17
204,2017000107,Jordan,Hall,"2,960.00","12,500.00","15,460.00",0.00,0.00,0.00,"15,140.00","15,460.00",2017_18
184,2017000049,Kylie,Dixon,"3,350.00",0.00,0.00,0.00,"3,350.00",0.00,"3,350.00","3,350.00",2017_18
230,KE3577486,Adam,Kester,"16,870.00",0.00,"1,870.00",0.00,"15,000.00",0.00,"16,870.00","16,870.00",2017_18
465,2018000098,Estefania,Roldan,"17,795.00","5,500.00","11,545.00",0.00,"11,750.00",0.00,"23,239.00","23,295.00",2018_19
37,ZU5104464,Diana,Zubchenok,"7,638.72",0.00,0.00,0.00,"7,638.72",0.00,"7,638.72","7,638.72",2015_16
57,2016000053,Brian,Canyon,"6,500.00",0.00,0.00,0.00,"6,500.00",0.00,"6,500.00","6,500.00",2016_17
217,2017000073,Dale,Irvin,"6,385.00","3,750.00","6,035.00",0.00,"4,100.00",0.00,"10,096.00","10,135.00",2017_18

In [39]:
#check data
len(student_financial)

516

In [40]:
student_financial.count()

Student ID       516
First Name       516
Last Name        516
Grants           516
Loans            516
Federal          516
State            516
Institutional    516
Other            516
Net Total        516
Total            516
Year             516
dtype: int64

In [41]:
#create dataframe
finance = student_financial[['Student ID', 'Grants', 'Loans', 'Federal',\
                             'Institutional', 'Net Total', 'Year']]

In [42]:
finance.sample(10)

,Student ID,Grants,Loans,Federal,Institutional,Net Total,Year
382,2018000031,"11,700.00","31,925.00","31,925.00","11,700.00","42,507.00",2018_19
503,2018000039,"14,870.00","5,500.00","8,645.00","11,725.00","20,314.00",2018_19
219,2018000003,"3,500.00",0.00,0.00,"3,500.00","3,500.00",2017_18
181,2017000069,"4,100.00","28,209.00","28,209.00","4,100.00","19,010.00",2017_18
74,2017000001,"4,000.00","7,500.00","7,500.00","4,000.00","11,422.00",2016_17
316,2019000011,"5,075.00","15,000.00",0.00,"5,075.00","20,075.00",2018_19
266,2016000013,"15,270.00","16,500.00","22,270.00","9,500.00","31,310.00",2017_18
445,2017000083,"8,795.00","7,500.00","9,245.00","7,050.00","16,217.00",2018_19
461,2018000083,"9,422.00","2,750.00","2,750.00","9,422.00","12,144.00",2018_19
134,2016000067,"3,750.00","10,897.00","6,500.00","3,750.00","14,579.00",2016_17

In [43]:
#change column names
financial = finance.rename(columns={'Student ID': 'ID', 'Net Total': 'Net_Total'})
financial.sample(10)

,ID,Grants,Loans,Federal,Institutional,Net_Total,Year
210,2016000011,"13,414.00","12,500.00","19,039.00","6,875.00","25,782.00",2017_18
474,RU1751715,"25,885.00","6,500.00","12,595.00","19,790.00","32,317.00",2018_19
334,2018000056,"21,029.00",0.00,"2,945.00","9,000.00","21,029.00",2018_19
59,2016000058,"8,000.00",0.00,0.00,"8,000.00","8,000.00",2016_17
494,2016000067,"7,500.00","35,775.00","35,775.00","7,500.00","41,993.00",2018_19
184,2017000049,"3,350.00",0.00,0.00,"3,350.00","3,350.00",2017_18
324,2017000057,"6,345.00","36,930.00","39,275.00","4,000.00","41,947.00",2018_19
40,2016000037,"11,700.00","6,500.00","6,500.00","11,700.00","18,132.00",2016_17
466,2018000115,"25,750.00",0.00,0.00,"25,750.00","25,750.00",2018_19
449,2018000122,"3,537.50",0.00,0.00,"3,537.50","3,537.50",2018_19

In [44]:
#fix year column
financial[['YearBegin','YearEnd']] = financial.Year.str.split(pat = "_",expand=True)
financial.drop('Year', axis=1, inplace=True)
financial.drop('YearEnd', axis=1, inplace=True)
financial.sample(20)

,ID,Grants,Loans,Federal,Institutional,Net_Total,YearBegin
208,2017000052,"6,000.00","12,500.00","12,500.00","6,000.00","18,368.00",2017
164,2017000056,"3,274.65",0.00,"2,157.98","1,116.67","3,274.65",2017
42,AL3620726,"9,684.50",0.00,0.00,"9,684.50","9,684.50",2016
377,2018000102,"10,345.00","12,500.00","15,845.00","7,000.00","22,713.00",2018
275,RU1751715,"22,510.00","5,500.00","11,420.00","16,590.00","26,962.00",2017
77,2016000016,"12,700.00","14,500.00","14,500.00","12,700.00","26,760.00",2016
425,2017000075,"10,000.00","36,275.00","36,275.00","10,000.00","42,067.00",2018
203,2016000065,"11,920.00","10,500.00","16,420.00","6,000.00","22,312.00",2017
60,CH8871830,"5,500.00",0.00,0.00,"5,500.00","5,500.00",2016
339,2018000010,"8,100.00","35,500.00","5,500.00","8,100.00","43,542.00",2018
29,PI4301977,"2,330.00",0.00,0.00,"2,330.00","2,330.00",2015
104,2016000080,"6,357.50","14,467.00","16,725.00","4,099.50","20,450.50",2016
41,AJ5365039,"9,000.00",0.00,0.00,"9,000.00","9,000.00",2016
156,2016000069,"12,709.00","5,500.00","12,209.00","6,000.00","18,153.00",2017
249,ME6551934,"10,366.67",0.00,"3,700.00","6,666.67","10,366.67",2017
473,2017000082,"11,095.00","32,180.00","38,275.00","5,000.00","42,145.00",2018
145,2016000037,"11,700.00","7,500.00","7,500.00","11,700.00","19,122.00",2017
323,2017000067,"13,145.00","12,500.00","18,595.00","7,050.00","25,515.00",2018
106,2016000079,"7,007.00","6,500.00","9,407.00","4,100.00","13,439.00",2016
160,2017000057,"9,920.00","16,500.00","22,420.00","4,000.00","25,958.00",2017

In [45]:
#financial['Loans'].value_counts()

In [46]:
financial.drop(financial.loc[financial['Loans']=='0.00'].index, inplace=True)

In [47]:
#financial['Loans'].value_counts()

In [48]:
financial.drop(financial.loc[financial['Federal']=='0.00'].index, inplace=True)
#financial['Federal'].value_counts()

In [49]:
financial.to_csv('money_clean.csv')